<!-- Welcome Section -->
<header class="welcome-container">
    <a class="navbar-brand" href="#">
        <img src="https://bl-i.thgim.com/public/incoming/i5rnz/article66233928.ece/alternates/FREE_1200/Reflectiont%20Info%20Systems.jpg" 
             alt="logo of company" width="100" height="40" 
             class="d-inline-block align-text-top">
        
    </a>
    <h1><strong>Welcome to the Travel Booking System</strong></h1>
</header>

<!-- Main Container -->
<div class="container">
    <!-- Left Side - Image -->
    <div class="image-container">
        <img src="https://cdn4.iconfinder.com/data/icons/banking-flat-multicolor/2048/Team-512.png" 
             alt="Team Illustration">
    </div>

    <!-- Right Side - Login Selection -->
    <main class="login-container">
        <h2><b>Select Your Login</b></h2>

        <nav class="login-options" aria-label="Login options">
            <a routerLink="/employee/login" class="btn btn-employee btn-login" 
               aria-label="Login as Employee">Employee Login</a>
            <a routerLink="/admin/login" class="btn btn-admin btn-login" 
               aria-label="Login as Admin">Admin Login</a>
            <a routerLink="/manager/login" class="btn btn-manager btn-login" 
               aria-label="Login as Manager">Manager Login</a>
        </nav>
    </main>
</div>
