<nav class="navbar navbar-dark text-light mb-3">
  <button type="button" class="btn btn-outline-light btn-sm" (click)="goBack()">&#8592; Back</button>
    <a class="navbar-brand" href="#">
      <img src="https://bl-i.thgim.com/public/incoming/i5rnz/article66233928.ece/alternates/FREE_1200/Reflectiont%20Info%20Systems.jpg"
           alt="Company Logo" width="90" height="35" class="d-inline-block align-text-top">
    </a>
    <button class="btn btn-outline-light d-flex align-items-center" (click)="logout()">
      Logout
    </button>
  
</nav>